@font-face {
  font-family: 'Open Sans';
  src: url('../lib/lessfonts-open-sans/dist/fonts/OpenSans/OpenSans-Light/OpenSans-Light-webfont.eot');
  src: url('../lib/lessfonts-open-sans/dist/fonts/OpenSans/OpenSans-Light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../lib/lessfonts-open-sans/dist/fonts/OpenSans/OpenSans-Light/OpenSans-Light-webfont.woff') format('woff'), url('../lib/lessfonts-open-sans/dist/fonts/OpenSans/OpenSans-Light/OpenSans-Light-webfont.ttf') format('truetype'), url('../lib/lessfonts-open-sans/dist/fonts/OpenSans/OpenSans-Light/OpenSans-Light-webfont.svg#open_sans_light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../lib/lessfonts-open-sans/dist/fonts/OpenSans/OpenSans-Regular/OpenSans-Regular-webfont.eot');
  src: url('../lib/lessfonts-open-sans/dist/fonts/OpenSans/OpenSans-Regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../lib/lessfonts-open-sans/dist/fonts/OpenSans/OpenSans-Regular/OpenSans-Regular-webfont.woff') format('woff'), url('../lib/lessfonts-open-sans/dist/fonts/OpenSans/OpenSans-Regular/OpenSans-Regular-webfont.ttf') format('truetype'), url('../lib/lessfonts-open-sans/dist/fonts/OpenSans/OpenSans-Regular/OpenSans-Regular-webfont.svg#open_sans_regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../lib/lessfonts-open-sans/dist/fonts/OpenSans/OpenSans-Semibold/OpenSans-Semibold-webfont.eot');
  src: url('../lib/lessfonts-open-sans/dist/fonts/OpenSans/OpenSans-Semibold/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../lib/lessfonts-open-sans/dist/fonts/OpenSans/OpenSans-Semibold/OpenSans-Semibold-webfont.woff') format('woff'), url('../lib/lessfonts-open-sans/dist/fonts/OpenSans/OpenSans-Semibold/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../lib/lessfonts-open-sans/dist/fonts/OpenSans/OpenSans-Semibold/OpenSans-Semibold-webfont.svg#open_sans_semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
body {
  font: 14px "Open Sans", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", sans-serif;
  font-weight: 300;
  color: #9DB0B9;
  line-height: 30px;
}
a {
  text-decoration: none;
  color: #D28BA4;
}
ul {
  padding-left: 20px;
}
.lead {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 30px;
}
h1,
h2,
h3 {
  font-weight: 400;
}
h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #62D4DB;
}
#main-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.background {
  background-color: #3D3E42;
}
.foreground {
  background-color: #EAE9E9;
  min-width: 600px;
  width: 38.2%;
}
.main-panel {
  width: 600px;
}
.sub-panel {
  width: 350px;
}
.experience-panel {
  width: 700px;
}
.define-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
}
.define-list > dt {
  width: 38.2%;
}
.define-list > dd {
  margin: 0;
  width: 61.8%;
  font-weight: 400;
}
.define-list ul {
  margin: 0;
}
