@fontsPath      : '../lib/lessfonts-open-sans/dist/fonts/OpenSans';
@body-font-size : 14px;
// 英文字体排在前面,则会优先应用,此字体方案考虑了中英文版windows和osx
@body-font-family: "Open Sans", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", sans-serif;
@body-font: @body-font-size @body-font-family;